body {
  padding-top: 6px;
  color: #fff;
  background-color: #333;
}

a {
  color: #785549;
  text-decoration: none;
  /* text-decoration: underline; */
}

a:hover {
  color: #785549;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #444;
  color: #fff;
}

.panel-body {
  background: #333;
}

.thumbnail {
  background-color: #333;
  color: #fff;
}
