<div class="col-lg">
<div class="card text-white bg-transparent border-0 mb-4 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      {{ with .Params.icon }}
          <img src="{{ . }}" class="card-img w-75 mx-auto d-block">
      {{ else }}
          <p>&nbsp;</p>
      {{ end }}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text">{{ .Summary }}</p>
        <p class="card-text"><small class="text-muted">{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words</small></p>
        <p class="card-text text-left"><a href="{{ .Permalink }}" class="btn btn-primary">Learn more →</a></p>
      </div>
    </div>
  </div>
</div>
</div>
