<div class="container-fluid">
  <div class="container-fluid">
    <hr>
  <!-- <div class="row">
    <div class="col">
      <p>&nbsp;</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <p class="text-start"><small class="text-muted">Apple, the Apple logo, iPhone, and iPad are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App Store is a service mark of Apple Inc.</small></p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <p>&nbsp;</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-auto">
      <p class="h6 text-center"><small>Copyright &copy; {{ now.Format "2006" }} Chad Hughes. All rights reserved.</small></p>
    </div>
    {{ range .Site.Menus.main }}
      <div class="col-sm">
        <p class="h6 text-center"><small><a href="{{ .URL }}">{{ .Name }}</a></small></p>
      </div>
    {{ end }}
  </div>
</div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
